# ============ 模型 配置 ============
API_KEY=
API_URL=
API_MODEL=
API_TIMEOUT=
# ============= huggingface 配置 ============
MODEL=Qwen/Qwen3-Embedding-0.6B
DEVICE=cpu
NORMALIZE_EMBEDDINGS=True
# ============ TAVILY 配置 ============
TAVILY_API_KEY=
# ============ PostgreSQL 配置 ============
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
# ============ Redis 配置 ===========
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=
