# ============ 模型 配置 ============
API_KEY=
API_URL=
API_MODEL=
API_TIMEOUT=
# ============= huggingface 配置 ============
MODEL_PATH=
DEVICE=
NORMALIZE_EMBEDDINGS=
# ============ TAVILY 配置 ============
TAVILY_API_KEY=