huggingface-hub
--index-url https://mirrors.aliyun.com/pypi/simple
#环境配置
python-dotenv
#LangChain
langchain-openai
langchain-core
langchain-classic
langchain-text-splitters
langchain-huggingface
langchain-community
requests
tavily
uvicorn
psycopg2-binary
sqlalchemy
pgvector
numpy
fastapi
sentence-transformers
torch
